@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
  box-sizing: border-box;
}

@font-face {
  font-family: inter;
  src: url(../public/fonts/inter/Inter-Regular.ttf);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 10%;

}

/* Track */
::-webkit-scrollbar-track {
  background: #F5F5F5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7436d8;
  /* border-radius: 10px; */

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4e1b9f;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}